.TodoItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    width: 100%;
    height: auto;
}

.TodoItem p{
    margin: 0.5em 0 0.5em 0;
}

.TodoItem:last-child{
    border-bottom: none;
}

.TodoItem img{
    margin: 0 0.5em 0;
}

/* .TodoItem .cb-btn{
    width: 20px;
    height: 20px;  
} */

.TodoItem-complete > p{
    text-decoration: line-through;
    opacity: 0.5;
}